.edit-buttons {
  display: grid !important;
  grid-gap: 1em;
}

.img-container {
  position: relative;
  height: 18rem;
  width: 18rem;
}

.img-container-small {
  position: relative;
  height: 15rem;
  width: 15rem;
}

.slug-profile {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 5%;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

#inside {
  filter: "brightness(0) saturate(100%)";
}

#outline {
  filter: "brightness(0) saturate(100%) ";
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 3em;
}

.card {
  color: #4D6470 !important;
}

#slug-workshop {
  width: 100%;
  margin: auto;
  grid-template-columns: 1fr 3fr 3fr;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.image {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
  background-image: url(./images/slug-outline.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#workshop-buttons {
  grid-template-rows: repeat(auto-fill, minmax(75px, 1fr));
  justify-content: space-around;
  align-items: space-between;
}

.cosmetic-option {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#user-profile-name {
  display: flex;
  flex-direction: row;
}

#user-slug-name {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.player-name {
  padding: 0 1rem;
}

.slug-name {
  padding: 0 1rem;
}

.slug-name-header {
  font-family: Arial, sans-serif;
  font-size: 1.75rem;
  font-weight: bold;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 375px;
}

header {
  flex: 0 80px;
}

main {
  flex: 1 calc(100vh - 110px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#main-nav-buttons {
  padding: 2rem;
}

footer {
  flex: 0 30px;
}

menu {
  flex: 1;
  display: flex;
  flex-direction: row !important;
  list-style: none;
}

.navbar-brand {
  padding-left: 0.3em;
  border-bottom: solid rgb(182, 182, 182) thin;
}

menu .nav-item {
  padding: 0 0.3em;
}

.quote-box {
  margin-top: 1em;
  padding: 0.5em;
  border-radius: 5px;
}

.quote {
  font-style: italic;
}

.author::before {
  content: " - ";
}

footer a {
  float: right;
}

@media (max-height: 600px) {
  header {
    display: none;
  }
  footer {
    display: none;
  }
  main {
    flex: 1 100vh;
  }
}
